Importing the Dependencies

In [28]:
import numpy as np
import pandas as pd
import sklearn.datasets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Data Collection & Processing

In [29]:
# Load Dataset
names = ['id', 'clump_thickness', 'uniform_cell_size', 'uniform_cell_shape',
       'marginal_adhesion', 'single_epithelial_size', 'bare_nuclei',
       'bland_chromatin', 'normal_nucleoli', 'mitoses', 'class']
df = pd.read_csv('breast-cancer-wisconsin.data.csv', names=names)

In [30]:
print(df)

          id  clump_thickness  uniform_cell_size  uniform_cell_shape  \
0    1000025                5                  1                   1
1    1002945                5                  4                   4
2    1015425                3                  1                   1
3    1016277                6                  8                   8
4    1017023                4                  1                   1
..       ...              ...                ...                 ...
694   776715                3                  1                   1
695   841769                2                  1                   1
696   888820                5                 10                  10
697   897471                4                  8                   6
698   897471                4                  8                   8

     marginal_adhesion  single_epithelial_size bare_nuclei  bland_chromatin  \
0                    1                       2           1                3
1                    5                       7          10                3
2                    1                       2           2                3
3                    1                       3           4                3
4                    3                       2           1                3
..                 ...                     ...         ...              ...
694                  1                       3           2                1
695                  1                       2           1                1
696                  3                       7           3                8
697                  4                       3           4               10
698                  5                       4           5               10

     normal_nucleoli  mitoses  class
0                  1        1      2
1                  2        1      2
2                  1        1      2
3                  7        1      2
4                  1        1      2
..               ...      ...    ...
694                1        1      2
695                1        1      2
696               10        2      4
697                6        1      4
698                4        1      4

[699 rows x 11 columns]

In [31]:
# print the first 5 rows of the dataframe
df.head()

,id,clump_thickness,uniform_cell_size,uniform_cell_shape,marginal_adhesion,single_epithelial_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [32]:
# print last 5 rows of the dataframe
df.tail()

,id,clump_thickness,uniform_cell_size,uniform_cell_shape,marginal_adhesion,single_epithelial_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [33]:
# number of rows and columns in the dataset
df.shape

(699, 11)

In [34]:
df.drop(['id'],axis=1,inplace = True)

In [47]:
# Columns in the dataset
df.columns

Index(['clump_thickness', 'uniform_cell_size', 'uniform_cell_shape',
       'marginal_adhesion', 'single_epithelial_size', 'bare_nuclei',
       'bland_chromatin', 'normal_nucleoli', 'mitoses', 'class'],
      dtype='object')

In [48]:
#Diagnosis class Malignant = 4 and Benign = 2
#The number of Benign and Maglinant cases from the dataset
df['class'].value_counts()

2    458
4    241
Name: class, dtype: int64

In [49]:
df['bare_nuclei'].value_counts()

1     402
10    132
2      30
5      30
3      28
8      21
4      19
?      16
9       9
7       8
6       4
Name: bare_nuclei, dtype: int64

In [50]:
df[df['bare_nuclei'] == '?']

,clump_thickness,uniform_cell_size,uniform_cell_shape,marginal_adhesion,single_epithelial_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class
23,8,4,5,1,2,?,7,3,1,4
40,6,6,6,9,6,?,7,8,1,2
139,1,1,1,1,1,?,2,1,1,2
145,1,1,3,1,2,?,2,1,1,2
158,1,1,2,1,3,?,1,1,1,2
164,5,1,1,1,2,?,3,1,1,2
235,3,1,4,1,2,?,3,1,1,2
249,3,1,1,1,2,?,3,1,1,2
275,3,1,3,1,2,?,2,1,1,2
292,8,8,8,1,2,?,6,10,1,4
294,1,1,1,1,2,?,2,1,1,2
297,5,4,3,1,2,?,2,3,1,2
315,4,6,5,6,7,?,4,9,1,2
321,3,1,1,1,2,?,3,1,1,2
411,1,1,1,1,1,?,2,1,1,2
617,1,1,1,1,1,?,1,1,1,2

In [51]:
df[df['bare_nuclei'] == '?'].sum()

clump_thickness                         54
uniform_cell_size                       39
uniform_cell_shape                      46
marginal_adhesion                       29
single_epithelial_size                  39
bare_nuclei               ????????????????
bland_chromatin                         50
normal_nucleoli                         44
mitoses                                 16
class                                   36
dtype: object

In [52]:
df.replace('?',np.nan,inplace=True)

In [53]:
df['bare_nuclei'][23]

nan

In [54]:
df.isna().sum()

clump_thickness            0
uniform_cell_size          0
uniform_cell_shape         0
marginal_adhesion          0
single_epithelial_size     0
bare_nuclei               16
bland_chromatin            0
normal_nucleoli            0
mitoses                    0
class                      0
dtype: int64

In [55]:
df.fillna(method='ffill', inplace=True)

In [56]:
df.isna().sum()

clump_thickness           0
uniform_cell_size         0
uniform_cell_shape        0
marginal_adhesion         0
single_epithelial_size    0
bare_nuclei               0
bland_chromatin           0
normal_nucleoli           0
mitoses                   0
class                     0
dtype: int64

In [57]:
df['bare_nuclei'] = df['bare_nuclei'].astype('int64')

In [58]:
# getting some information about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   clump_thickness         699 non-null    int64
 1   uniform_cell_size       699 non-null    int64
 2   uniform_cell_shape      699 non-null    int64
 3   marginal_adhesion       699 non-null    int64
 4   single_epithelial_size  699 non-null    int64
 5   bare_nuclei             699 non-null    int64
 6   bland_chromatin         699 non-null    int64
 7   normal_nucleoli         699 non-null    int64
 8   mitoses                 699 non-null    int64
 9   class                   699 non-null    int64
dtypes: int64(10)
memory usage: 54.7 KB

In [59]:
# statistical measures about the data
df.describe()

,clump_thickness,uniform_cell_size,uniform_cell_shape,marginal_adhesion,single_epithelial_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class
count,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,4.417740,3.134478,3.207439,2.806867,3.216023,3.529328,3.437768,2.866953,1.589413,2.689557
std,2.815741,3.051459,2.971913,2.855379,2.214300,3.635260,2.438364,3.053634,1.715078,0.951273
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000
50%,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,2.000000
75%,6.000000,5.000000,5.000000,4.000000,4.000000,6.000000,5.000000,4.000000,1.000000,4.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [60]:
# checking the distribution of Target Varibale
df['class'].value_counts()

2    458
4    241
Name: class, dtype: int64

1 --> Benign

0 --> Malignant

In [61]:
df.groupby('class').mean()

,clump_thickness,uniform_cell_size,uniform_cell_shape,marginal_adhesion,single_epithelial_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses
class,,,,,,,,,
2,2.956332,1.325328,1.443231,1.364629,2.120087,1.401747,2.100437,1.290393,1.063319
4,7.195021,6.572614,6.560166,5.547718,5.298755,7.572614,5.979253,5.863071,2.589212

Separating the features and target

In [62]:
X = df.drop(columns='class', axis=1)
Y = df['class']

In [63]:
print(X)

     clump_thickness  uniform_cell_size  uniform_cell_shape  \
0                  5                  1                   1
1                  5                  4                   4
2                  3                  1                   1
3                  6                  8                   8
4                  4                  1                   1
..               ...                ...                 ...
694                3                  1                   1
695                2                  1                   1
696                5                 10                  10
697                4                  8                   6
698                4                  8                   8

     marginal_adhesion  single_epithelial_size  bare_nuclei  bland_chromatin  \
0                    1                       2            1                3
1                    5                       7           10                3
2                    1                       2            2                3
3                    1                       3            4                3
4                    3                       2            1                3
..                 ...                     ...          ...              ...
694                  1                       3            2                1
695                  1                       2            1                1
696                  3                       7            3                8
697                  4                       3            4               10
698                  5                       4            5               10

     normal_nucleoli  mitoses
0                  1        1
1                  2        1
2                  1        1
3                  7        1
4                  1        1
..               ...      ...
694                1        1
695                1        1
696               10        2
697                6        1
698                4        1

[699 rows x 9 columns]

In [64]:
print(Y)

0      2
1      2
2      2
3      2
4      2
      ..
694    2
695    2
696    4
697    4
698    4
Name: class, Length: 699, dtype: int64

Splitting the data into training data & Testing data

In [65]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=2)

In [66]:
print(X.shape, X_train.shape, X_test.shape)

(699, 9) (559, 9) (140, 9)

Model Training

Logistic Regression

In [68]:
# training the Logistic Regression model using Training data

model.fit(X_train, Y_train)

LogisticRegression()

Model Evaluation

Accuracy Score

In [69]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(Y_train, X_train_prediction)

In [70]:
print('Accuracy on training data = ', training_data_accuracy)

Accuracy on training data =  0.9695885509838998

In [71]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(Y_test, X_test_prediction)

In [72]:
print('Accuracy on test data = ', test_data_accuracy)

Accuracy on test data =  0.9642857142857143

Building a Predictive System

In [75]:
input_data = (8,10,10,8,7,10,9,7,1)

# change the input data to a numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the numpy array as we are predicting for one datapoint
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 0):
  print('The Breast cancer is Malignant')

else:
  print('The Breast Cancer is Benign')

[4]
The Breast Cancer is Benign

c:\Users\shiva\Downloads\healthy_habits-main (1)\healthy_habits-main\.venv\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"